<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>PEISP管理系统</title>

        <meta name="description" content="OneUI - Admin Dashboard Template & UI Framework">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <!-- OneUI CSS framework -->
        <link rel="stylesheet"  href="/css/oneui.css">
		<link rel="stylesheet"  href="/css/peisp-extra.css">
    <!-- 调用现有样式主题 -->
    <link rel="stylesheet" id="css-theme" href="/css/themes/flat.min.css">
        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
		<style type="text/css">
			.myCanvas{
				width: 100%;
				height: 310px;
				border: 2px solid black;
			}
			.img-illegal{
				height: auto;
				width: 100px;
				border: 1px solid black;
				margin-top: 20px;
			}
			.img-illegal img{
				width:100%;
				height: auto;
			}
			.img-div{
				height: 100%;
				width: 20%;
				float: left;
				text-align: center;
				vertical-align: middle;
			}
			.img-div img{
			}
			.content-div{
				float: left;
/*				background-color: cyan;*/
			}
			.content-div p{
				font-family:STSong;
				font-size: 20px;
				font-weight: bold;
			}
		</style>
        <link rel="stylesheet" href="css/style.css">
        <script src="lib/fengmap.core.min.js"></script>
        <!-- <link rel="stylesheet" id="css-theme" href="/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available Classes:

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
        -->
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

            <!-- Sidebar -->
            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="side-header side-content bg-white-op">
                            <a class="h5 text-white" href="/index.html">
								<em class="fa fa-puzzle-piece text-primary"></em>
							<span class="h4 font-w600 sidebar-mini-hide">PEISP</span>
							</a>
						</div>
                        <!-- END Side Header -->

                        <!-- 导航栏-->
                        <div class="side-content">
                            <ul class="nav-main">
								<li>
                                    <a href="/index.html"><i class="si si-briefcase"></i><span class="sidebar-mini-hide">PEISP主页</span></a>
                                </li>
								<li>
                                    <a href="/dash_board.html"><i class="si si-bar-chart"></i><span class="sidebar-mini-hide">企业主页</span></a>
                                </li>
								<li class="open">
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-camcorder"></i><span class="sidebar-mini-hide">实时监控</span></a>
                                    <ul>
                                        <li class="open">
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">工厂A</a>
                                            <ul class="open">
                                                <li>
                                                    <a href="/CameraPage">车间a</a>
                                                </li>
                                                <li>
                                                    <a href="#">车间b</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">工厂B</a>
                                           	<ul>
                                                <li>
                                                    <a href="#">车间a</a>
                                                </li>
                                                <li>
                                                    <a href="#">车间b</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">工厂C</a>
                                            <ul>
                                                <li>
                                                    <a href="#">车间a</a>
                                                </li>
                                                <li>
                                                    <a href="#">车间b</a>
                                                </li>
												<li>
                                                    <a href="#">车间c</a>
                                                </li>
												<li>
                                                    <a href="#">车间d</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="/worker_info.html"><i class="si si-grid"></i><span class="sidebar-mini-hide">员工列表</span></a>
                                    <ul>
                                        <li>
                                            <a class="active" href="#">所有员工</a>
                                        </li>
                                        <li>
                                            <a href="#">添加员工</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/helmet_info.html"><i class="si si-wrench"></i>
										<span class="sidebar-mini-hide">安全帽列表</span></a>
                                </li>
								<li>
                                    <a href="/History"><i class="si si-note"></i>
										<span class="sidebar-mini-hide">违规记录列表</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- END 导航栏 -->
                    <!-- Sidebar Content -->
                </div>
				</div>
                <!-- END Sidebar Scroll Container -->

            </nav>

            <!-- END Sidebar -->
            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full">
                <!-- Header Navigation Right -->
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Profile</li>
                                <li>
                                    <a tabindex="-1" href="base_pages_inbox.html">
                                        <i class="si si-envelope-open pull-right"></i>
                                        <span class="badge badge-primary pull-right">3</span>Inbox
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="base_pages_profile.html">
                                        <i class="si si-user pull-right"></i>
                                        <span class="badge badge-success pull-right">1</span>Profile
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="javascript:void(0)">
                                        <i class="si si-settings pull-right"></i>Settings
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Actions</li>
                                <li>
                                    <a tabindex="-1" href="base_pages_lock.html">
                                        <i class="si si-lock pull-right"></i>Lock Account
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="/base_pages_login.html">
                                        <i class="si si-logout pull-right"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                            <i class="fa fa-tasks"></i>
                        </button>
                    </li>
                </ul>
                <!-- END Header Navigation Right -->

                <!-- Header Navigation Left -->
                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </li>
                    <li>
                        <!-- Opens the Apps modal found at the bottom of the page, before including JS code -->
                        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#apps-modal" type="button">
                            <i class="si si-grid"></i>
                        </button>
                    </li>
                    <li class="visible-xs">
                        <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
                        <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                    <li class="js-header-search header-search">
                        <form class="form-horizontal" action="base_pages_search.html" method="post">
                            <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                                <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
                                <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                            </div>
                        </form>
                    </li>
                </ul>
                <!-- END Header Navigation Left -->
            </header>
            <!-- END Header -->
            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-8">
                            <h1 class="page-heading">
                                视频监控 <small>左侧为实时视频，右侧为俯视小地图</small>
                            </h1>
                        </div>
                        <div class="col-sm-4 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li>工厂A</li>
                                <li><a class="link-effect" >车间a</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->
                <!-- Page Content -->
                <div class="content">
					<div class="row">
						<!--Camera Video-->
						<div class="col-md-6">
							<!-- Default Buttons -->
							<div class="block">
								<div class="block-header">
									<h3 class="block-title">实时监控</h3>
								</div>
								<div class="block-content">
                                    <video id="liveVideo" class="video-js myCanvas" controls autoplay preload="auto" width="1280"
                                           height="720" data-setup="{}">
                                        <source src="rtmp://60.12.136.59:22121/live/" type="rtmp/flv">
                                    </video>
                                    <div class="btn-group btn-group-justified">
                                        <div class="btn-group">
                                            <button class="btn btn-default" type="button" onClick="start()"><i class="fa fa-play" id="start"></i></button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-default" type="button" id="right" onClick="goRight()"><i class="fa fa-arrow-right" id="arrow"></i></button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-default" id="change" type="button" onClick="changeMode()">自动模式</button>
                                        </div>

                                    </div>
								</div>

							</div>
							<!-- END Default Buttons -->
						</div>
						<!--END Camera Video-->
						<!--2D Map-->
						<div class="col-md-6">
							<!-- Square Buttons -->
							<div class="block">
								<div class="block-header">
									<h3 class="block-title">俯视地图</h3>
								</div>
								<div class="block-content">
                                    <!--运用第三方sdk-->
                                    <iframe src="FMMapBasic.html" width="100%" height="343px" scrolling="no"></iframe>
								</div>
							</div>
							<!-- END Square Buttons -->
						</div>
						<!--END 2D Map-->
					</div>

					<!--Illegal Image-->
					<div class="block">
						<div class="block-header">
							<h3 class="block-title">违规记录</h3>
						</div>
						<div class="row items-push text-center">
                            <!--下面这个div应该要有onClick="show(this)"，暂时禁用-->
                            <div class="col-xs-6 col-sm-6 col-lg-2" th:each="illegal:${illegals}" th:id="${illegal.id}">
                                <img th:src="${illegal.imgDir}" class="img-illegal" id="hcs-btn"/>
                                <div class="push-10-t font-w600 font-red"><span th:text="${illegal.workerId==null?'未识别':illegal.workerName}"></span> </div>
                            </div>
							<div class="col-xs-6 col-sm-6 col-lg-2">
								<div style="height: 60px"></div>
								<a class="item item-circle bg-primary-light text-white-op center-block" href="/History" >
									<i class="glyphicon glyphicon-option-horizontal"></i>
								</a>
								<div class="push-10-t font-w600">更多</div>
							</div>
						</div>
					</div>
                	<!--END Illegal Image-->
					<!--Illegal Image Detail-->
					<div id="spread" class="block" style="overflow: hidden;height: 0px;">
						<div class="block-header">
							<a class="link-effect" onClick="hide()" style="float: right;cursor: pointer;">收起&nbsp;<i class="si si-arrow-up"></i></a>
							<h3 class="block-title">违规详细信息</h3>
						</div>
						<div class="block-content" style="height: 300px">
							<div class="img-div">
								<img src="/img/photos/nohat1.png" height="90%"/>
							</div>
							 <div class="row">
								<div class="col-lg-4">
									<a class="block block-link-hover2" href="javascript:void(0)">
										<div class="block-content block-content-full bg-primary clearfix">
											<i class="si si-user fa-2x text-white pull-left"></i>
											<span class="h4 text-white-op">&nbsp;&nbsp;&nbsp;违规用户:</span>
											<span class="h4 font-w700 text-white">未识别</span>
										</div>
									</a>
								</div>
								<div class="col-lg-4">
									<a class="block block-link-hover2" href="javascript:void(0)">
										<div class="block-content block-content-full bg-city clearfix">
											<i class="si si-info fa-2x text-white pull-left"></i>
											<span class="h4 text-white-op">&nbsp;&nbsp;&nbsp;违规原因:</span>
											<span class="h4 font-w700 text-white">未正确佩戴安全帽</span>
										</div>
									</a>
								</div>
								<div class="col-lg-4">
									<a class="block block-link-hover2" href="javascript:void(0)">
										<div class="block-content block-content-full bg-flat clearfix">
											<i class="si si-clock fa-2x text-white pull-left"></i>
											<span class="h4 text-white-op">&nbsp;&nbsp;&nbsp;违规时间:</span>
											<span class="h4 font-w700 text-white">2020-02-02 19:16:59</span>
										</div>
									</a>
								</div>

							</div>
						</div>

                    </div>
					<!--END Illegal Image Detail-->
				</div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">

                <div class="pull-left">
                    <a class="font-w600" href="javascript:void(0)" target="_blank">PEISP 1.0</a> &copy; <span>2020-04</span>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div class="modal fade" id="apps-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <!-- Apps Block -->
                    <div class="block block-themed block-transparent">
                        <div class="block-header bg-primary-dark">
                            <ul class="block-options">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Apps</h3>
                        </div>
                        <div class="block-content">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="block block-rounded" href="/index.html">
                                        <div class="block-content text-white bg-default">
                                            <i class="si si-speedometer fa-2x"></i>
                                            <div class="font-w600 push-15-t push-15">Backend</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="block block-rounded" href="frontend_home.html">
                                        <div class="block-content text-white bg-modern">
                                            <i class="si si-rocket fa-2x"></i>
                                            <div class="font-w600 push-15-t push-15">Frontend</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Apps Block -->
                </div>
            </div>
        </div>
        <!-- END Apps Modal -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->

        <script src="/js/core/jquery.min.js"></script>
        <script src="/js/core/bootstrap.min.js"></script>
        <script src="/js/core/jquery.slimscroll.min.js"></script>
        <script src="/js/core/jquery.scrollLock.min.js"></script>
        <script src="/js/core/jquery.appear.min.js"></script>
        <script src="/js/core/jquery.countTo.min.js"></script>
        <script src="/js/core/jquery.placeholder.min.js"></script>
        <script src="/js/core/js.cookie.min.js"></script>
        <script src="/js/app.js"></script>

        <link href="/js/video7.3.0/video-js.min.css" rel="stylesheet">
        <script src="/js/video7.3.0/video.min.js"></script>
        <script src="/js/flash/videojs-flash.min.js"></script>
        <!--WebSocket关于违规记录插入时的js-->
        <script>
            var socket;
            var socket_location;
            if (typeof (WebSocket) == "undefined") {
                console.log("遗憾：您的浏览器不支持WebSocket");
            } else {
                console.log("恭喜：您的浏览器支持WebSocket");

                //实现化WebSocket对象
                //指定要连接的服务器地址与端口建立连接
                //注意ws、wss使用不同的端口。我使用自签名的证书测试，
                //无法使用wss，浏览器打开WebSocket时报错
                //ws对应http、wss对应https。
                socket = new WebSocket("ws://localhost:8080/ws/handleImg");
                socket_location = new WebSocket("ws://localhost:8080/ws/handleImg");
                //连接打开事件
                socket.onopen = function() {
                    console.log("Socket 已打开");
                    socket.send("消息发送测试(From Client)");
                };
                //收到消息事件
                socket.onmessage = function(msg) {
                    console.log(msg.data);
                };
                    //连接关闭事件
                socket.onclose = function() {
                    console.log("Socket已关闭");
                };
                //发生了错误事件
                socket.onerror = function() {
                    alert("Socket发生了错误");
                };


                //连接打开事件
                socket_location.onopen = function() {
                    console.log("Socket 已打开");
                    socket_location.send("消息发送测试(From Client_location)");
                };
                //收到消息事件
                socket_location.onmessage = function(msg) {
                    console.log(msg.data);
                };
                    //连接关闭事件
                socket_location.onclose = function() {
                    console.log("Socket已关闭");
                };
                //发生了错误事件
                socket_location.onerror = function() {
                    alert("Socket发生了错误");
                };

                //窗口关闭时，关闭连接
                window.unload=function() {
                    socket.close();
                    socket_location.close();
                };
            }
        </script>
		<!--Illegal Image Detail's JS-->
		<script>
			/*获得btn*/
			var btn = document.getElementById('hcs-btn')
			var spread = document.getElementById('spread')
			var iSpread = false
			/*高度*/
			var height = spread.scrollHeight
			/*总时间*/
			var time = 420;
			/*间隔*/
			var interval = 8.4
			/*速度*/
			var speed = height/(time/interval)
			/*点击事件*/
			function show(e){
				//获取div对应的img的id
				var img_id = e.querySelector("img").id;
				var speeds = 0
				spread.style.height = '0px'
				var timer = setInterval(function () {
					speeds += speed
					spread.style.height = speeds + 'px'
					if(parseInt(spread.style.height) >=height){
						clearTimeout(timer)
						btn.disabled = ''
					}
				},interval)
			}
			function hide(){
				var speeds = height
		//            this.innerHTML = '展开'
				var timer = setInterval(function () {
					speeds -= speed
					spread.style.height = speeds + 'px'
					if(speeds <= 0){
						clearTimeout(timer)
						btn.disabled = ''
					}
				},interval)
			}
		</script>
        <!--遥控器-->
        <script>
            var isStart = false;
            var isAuto = false;
            var goLeft = false;
            function goRight(){
                if(goLeft){
                    document.getElementById("arrow").className="fa fa-arrow-right";
                    sendMessage("a");
                }else{
                    document.getElementById("arrow").className="fa fa-arrow-left";
                    sendMessage("b");
                }
                goLeft = !goLeft;
            }
            function start(){
                if(isStart){
                    document.getElementById("start").className="fa fa-play";
                    sendMessage("d");
                }else{
                    document.getElementById("start").className="fa fa-pause";
                    sendMessage("c");
                }
                isStart = !isStart;
            }
            function changeMode(){
                var obj = document.getElementById("change");
                if(isAuto){
                    obj.innerHTML="自动模式";
                    sendMessage("f");
                }else{
                    alert("切换至自动模式后，其余按钮将都失效！")
                    obj.innerHTML="手动模式";
                    sendMessage("e");
                }
                isAuto = !isAuto;
            }
            function sendMessage(s){
                $.ajax({
                    url: "sendMSG",
                    data: s,
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    success: function(response){
                        if(response.success){
                        }
                    }
                })
            }
        </script>
    </body>
</html>